.entete {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__navigation {
        width: auto;
        position: static;
        flex-direction: row;
        background-color: transparent;
        display: flex;
        align-items: center;

        @media screen and (max-width: 800px) {
            position: fixed;
            top: 0;
            right: -100%;
            height: 55vh;
            width: 100%;
            background-color: #fff;
            padding: 20px;
            flex-direction: column;
            z-index: 100;
            transition: right 0.3s ease-in-out;
            display: none;

            #menu-burger:checked ~ & {
                right: 0;
                display: flex;
            }
        }
    }

    &__logo {
        img {
            width: 100px;
        }
    }

    #menu-burger {
        display: none;
    }

    .menu-burger {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 25px;
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        z-index: 101;

        @media screen and (max-width: 800px) {
            display: flex;
        }

        .menu-burger__icone {
            width: 30px;
            height: 3px;
            background: #000;
            position: relative;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 30px;
                height: 3px;
                background: #000;
            }

            &::before {
                transform: translateY(-8px);
            }

            &::after {
                transform: translateY(8px);
            }
        }
    }
}