.entete{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__navigation{
        @media screen and (max-width: 800px){

     position: absolute;
     top: 0;
     right:0;
     background-color: #fff;
     padding: 20px;
     flex-direction: column;
     
    }
    width: auto;
    position: static;
    flex-direction: row;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: static;
    }


&__logo{
    img{
        width: 100px;
    }
}
}