/**
boutons-categorie.scss ------------------------------------------- .categorie__ul
*/

.categorie__ul{
    display:flex;
    gap: 5px;
    list-style-type: none;
    &__li{

        padding: 3px;
        border: 1px solid #aaa;
        background-color: rgb(241, 79, 79);

    }
}